# Required dependencies

## Data manipulation
numpy
pandas

## Visualisation
matplotlib
seaborn

## ML
scikit-learn

## Audio processing
librosa
soundfile
scipy

## Interface Web
streamlit

# Optional dependencies
black
isort
tqdm
Image